  <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar" style="background: rgb(26,122,178);
  background: linear-gradient(187deg, rgba(26,122,178,1) 15%, rgba(26,122,178,1) 76%, rgba(54,151,212,1) 92%, rgba(90,188,255,1) 100%);
  ">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://localhost/sistemaEscolarPHP/index.php">
          <div class="sidebar-brand-icon">
            <img src="http://localhost/sistemaEscolarPHP/Public/img/icon.png" alt="" width="50" height="50">
          </div>
          <div class="sidebar-brand-text mx-1"><strong>SIGAA</strong></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost/sistemaEscolarPHP\index.php">
            <!-- <span class="material-symbols-outlined">
                        home
                    </span> -->
            <span>Dashboard</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
          Interface
        </div>

        <li class="nav-item">
          <a class="nav-link collapsed" href="http://localhost/sistemaEscolarPHP\views\listarProfessores.php">
            <span>Professor</span>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link collapsed" href="http://localhost/sistemaEscolarPHP\views\listarAlunos.php">
            <span>Aluno</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="http://localhost/sistemaEscolarPHP\views\listarCursos.php" >
            <span>Cursos</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="http://localhost/sistemaEscolarPHP\views\listarDisciplinas.php">
            <span>Disciplinas</span>
          </a>
        </li>

        <hr class="sidebar-divider">

      </ul>